.TechnologySection {
  border: 1px dotted #09f;
}

.TechnologySection li {
  display: flex;
}

.TechnologySection li .name {
  font-weight: bold;
  width: 4em;
}

.TechnologySection li .age {
  margin: 0 0.5em;
}

.TechnologySection li .demand {
  font-size: 0.4em;
}
