.Skill {
  margin-bottom: 1em;
  display: flex;
}

.Skill .name {
  width: 4em;
}

.Skill .values {
  flex: 1;
}

.Skill .value {
  height: 1em;
  margin-bottom: 0.5em;
}

.Skill .value.experience {
  background: green;
}

.Skill .value.knowledge {
  background: blue;
}

.Job {
  padding: 1em;
  background: #6d6d6d33;
}

.Job > .name {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 0.5em;
}
